<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szh.enliarith">
    <uses-feature android:name="android.hardware.sensor.accelerometer"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.szh.enliarith.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.szh.enliarith.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.szh.enliarith.activity.AboutActivity"
            android:label="@string/about_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.szh.enliarith.activity.CountActivity"
            android:label="@string/count_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.szh.enliarith.activity.PlusSmallActivity"
            android:label="@string/plus_small_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.szh.enliarith.activity.MinusSmallActivity"
            android:label="@string/minus_small_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.szh.enliarith.activity.PlusLargeActivity"
            android:label="@string/plus_large_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.szh.enliarith.activity.MinusLargeActivity"
            android:label="@string/minus_large_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.szh.enliarith.activity.AbacusActivity"
            android:theme="@style/FullscreenTheme"
            android:label="@string/abacus_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
    </application>

</manifest>